version: "3.9"

services:

  django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gestion_escolar_django
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn gestion_escolar.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    restart: always

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile.celery
    container_name: gestion_escolar_celery_worker
    command: celery -A gestion_escolar worker --loglevel=INFO
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django
      - redis
    restart: always

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile.celery
    container_name: gestion_escolar_celery_beat
    command: celery -A gestion_escolar beat --loglevel=INFO
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - django
      - redis
    restart: always

  redis:
    image: redis:6.2
    container_name: gestion_escolar_redis
    ports:
      - "6379:6379"
    restart: always
